aws_region  = "ap-northeast-2"
project_name = "soh-api"
environment  = "dev"
account_id   = "160885266674"

vpc_cidr                 = "10.70.0.0/16"
public_subnet_cidrs      = ["10.70.0.0/24", "10.70.1.0/24"]
private_app_subnet_cidrs = ["10.70.10.0/24", "10.70.11.0/24"]
private_db_subnet_cidrs  = ["10.70.20.0/24", "10.70.21.0/24"]
single_nat_gateway       = true

artifact_bucket = "denti-backends"
artifact_prefix = "soh"
release_type    = "dev"
spring_profile  = "dev"

app_port    = 8080
health_path = "/api/actuator/health"

alb_name             = "soh-api-dev-alb"
target_group_name    = "soh-api-dev-tg"
launch_template_name = "soh-api-dev-lt"
asg_name             = "soh-api-dev-asg"

desired_capacity = 1
min_size         = 1
max_size         = 2
instance_type    = "t3.small"

certificate_arn       = "<ALB_REGION_ACM_CERTIFICATE_ARN>"
hosted_zone_name      = "thomabio.com"
origin_domain_name    = "soh-api-dev.thomabio.com"
create_route53_record = false
